<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Accidents</title>
    <th:block th:include="blocks/css :: head"/>
</head>
<body>
<div class="container">
    <th:block th:include="blocks/navbutton :: div"/>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Описание</th>
                <th scope="col">Адрес</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="accident:${accidents}">
                <td th:text="${accident.id}"></td>
                <td>
                    <a th:href="@{|/formUpdateAccident?id=${accident.id}|}">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                        <span th:text="${accident.name}"></span>
                </td>
                <td th:text="${accident.text}"></td>
                <td th:text="${accident.address}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>