<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Accidents</title>
    <th:block th:include="blocks/css :: head"/>
</head>
<body>
<div class="container">
    <th:block th:include="blocks/navbutton :: div"/>
    <div class="row pt-3">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Новый инцидент
            </div>
            <div class="card-body">
                <form th:action="@{/saveAccident}" method="POST">
                    <input type="hidden" name="id" value="0"/>
                    <div class="form-group">
                        <label for="name">Название Инцидента</label>
                        <input type="text" class="form-control" name="name" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="text">Описание происшествия</label>
                        <input type="text" class="form-control" name="text" id="text" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Адресс</label>
                        <input type="text" class="form-control" name="address" id="address" required>
                    </div>
                    <div class="form-group">
                        <label for="type.id">Тип происшествия</label>
                        <select class="form-control" id="type.id" name="type.id">
                            <option
                                    th:each="type: ${types}"
                                    th:text="${type.name}"
                                    th:value="${type.id}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="rIds">Статья</label>
                        <select class="form-control" id="rIds" name="rIds" multiple>
                            <option th:each="rule: ${rules}"
                                    th:text="${rule.name}"
                                    th:value="${rule.id}">
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<!-- Примечания

Form с композиционным объектом "Тип происшествия"
Spring MVС видит параметр в запрос type.id и преобразует
его в объект type с загруженным полем id.
th:value="${type.id}

Form с агрегационными объектами "Статья"
В форме указывается имя элемента select как rIds,
а не как имя поля модели Accident - rules.
Это связано с тем, что Spring MVC не может связать
список объектов с полем.
Данные на контроллере мы получаем напрямую
из запроса HttpRequestServlet.
-->