<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Accidents</title>
    <th:block th:include="blocks/css :: head"/>
</head>
<body>
<div class="container">
    <th:block th:include="blocks/navbutton :: div"/>
    <div class="row pt-3">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Изменить Происшествие
            </div>
            <div class="card-body">
                <form th:action="@{/updateAccident}" method="POST" enctype="multipart/form-data" th:object="${accident}">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <input type="hidden" name="id" value="0"/>
                    <div class="form-group">
                        <label for="name">Название Происшествия</label>
                        <input type="text" class="form-control" name="name" id="name" th:field="*{name}" required>
                    </div>
                    <div class="form-group">
                        <label for="text">Описание Происшествия</label>
                        <input type="text" class="form-control" name="text" id="text" th:field="*{text}" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Адрес Происшествия</label>
                        <input type="text" class="form-control" name="address" id="address" th:field="*{address}" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>