<!-- как я понимаю, navbutton сделано для страниц кроме index -->
<!DOCTYPE html>
<html lang="en">
<div th:fragment="navbutton">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Accidents</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/}" >Происшествия</a>
                <a class="nav-item nav-link" th:href="@{/addAccident}">Добавить Происшествие</a>
                <a class="nav-item nav-link" th:href="@{/reg}">Регистрация пользователя</a>
                <a class="nav-item nav-link" th:href="@{/logout}">Выйти</a>
            </div>
        </div>
    </nav>
</div>
</html>